h1 {
  font-size: 170%;
}
h2 {
  font-size: 110%;
}
body {
  background-color: antiquewhite;
}
nav {
  text-align: right;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover, nav a:active {
  color: lightgray;
}



